E{
  "cn": {
    "email": "your-cn-account@example.com",
    "password": "your-cn-password"
  },
  "global": {
    "email": "your-global-account@example.com",
    "password": "your-global-password"
  }
}
